<!DOCTYPE html>
<html ng-app="carouselAng">
    <head>
        <title>Carousel</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Demo project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="carousel.js"></script>
        <link rel="stylesheet" href="style.css">
        <style type="text/css"></style>
    </head>
    <body>
        <div ng-controller="cController">
            <!-- loading bar div -->
            <div></div>
            <!-- top navigation div -->
            <div>
                <div ng-repeat="n in manufacturers">
                    {{n.Name}}
                </div>
            </div>
            <!-- bottom navigation div -->
            <div>
                <div ng-repeat="n in manufacturers">
                    <!-- left side picture -->
                    <div><img src="{{n.URL}}" /></div>
                    <!-- right side navigation description -->
                    <div>
                        <div ng-repeat="console in n.consoles">
                            {{console}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript"></script>
</html>